.roadmap__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin: 2rem auto;
  /* overflow-y: scroll; */
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  position: relative;
}

.roadmap__wrapper .sections__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.image__animation {
  width: 400vw;
  height: 80vh;
  display: flex;
  gap: 0;
  /* background-image: url("../../assests/background.png"); */
}

.panel {
  width: 100vw;
  height: 100%;
}

.image__animation div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(rgba(100, 100, 111, 0.2) 0px 7px 29px 0px);
}

@media all and (max-width: 767px) {
  .roadmap__wrapper {
    margin: 1rem auto;
  }
  .image__animation {
    height: 100%;
  }
  .image__animation .panel {
    height: 50vh;
  }
}
