.single__course__item {
  height: 100%;
  /* min-height: 400px; */
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.single__course__item:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1.005);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.course__img img {
  border-radius: 5px;
  margin-bottom: 20px;
}

.course__details{
  padding: 10px 15px;
}

.enroll a { 
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #17bf9e;
}

.enroll a:hover{
  border-bottom: 2px solid #17bf9e;
  transition: 0.1s ease-in-out;
}

.lesson,
.students,
.rating {
  font-size: 0.9rem;
  color: #0a2b1e;
  font-weight: 500;
}

.lesson i,
.students i,
.rating i {
  font-weight: 400;
}

.course__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
}

.course__top__left h2 {
  font-weight: 600;
}
