.course__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  gap: 4rem;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* .course__list > div {
  width: min(300px, 100%);
  height: 100%;
} */

.single__course__item {
  width: min(100%, 350px);
  /* height: 100%; */
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.single__course__item:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.005);
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.course__img.course__img__wrapper {
  width: 200px;
}

.course__details.cart__course {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course__details.cart__course h6,
.course__details.cart__course p {
  margin: 0;
}

.course__details.cart__course .amount {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #1cb098;
  font-weight: 700;
}

.course__details.cart__course h6 {
  line-height: 1.5;
}

@media all and (max-width: 767px) {
  .course__img.course__img__wrapper {
    width: 100%;
  }
  .course__details.cart__course {
    width: 100% !important;
    margin-bottom: 1.5rem;
  }
  .course__list {
    justify-content: center;
  }
}

.course__img img {
  border-radius: 5px;
  margin-bottom: 20px;
}

.course__details {
  padding: 10px 15px;
}

.enroll a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #17bf9e;
}

.enroll a:hover {
  border-bottom: 2px solid #17bf9e;
  transition: 0.1s ease-in-out;
}

.lesson,
.students,
.rating {
  font-size: 0.9rem;
  color: #0a2b1e;
  font-weight: 500;
}

.lesson i,
.students i,
.rating i {
  font-weight: 400;
}

.course__title {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}

.course__top__left h2 {
  font-weight: 600;
}
