.platform__features__section {
  /* font-family: "Nunito Sans", sans-serif !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 3rem 0.5rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(23%2c 191%2c 158%2c 0.74)'%3e%3c/rect%3e%3cpath d='M342.37 625.42C514.59 612.12 608.33 283.15 934.78 269.86 1261.24 256.57 1371.22 76.38 1527.2 73.86' stroke='rgba(23%2c 191%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M374.88 633.38C499 609.17 464.4 293.43 748.83 292.77 1033.26 292.11 1305.97 443.22 1496.72 443.97' stroke='rgba(23%2c 191%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M753.36 593.01C864.59 514.13 801.86 108.71 995.76 104.39 1189.66 100.07 1347.72 317.83 1480.56 322.79' stroke='rgba(23%2c 191%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M435.25 633.33C590.01 587.6 625.13 159.86 862.11 149.12 1099.1 138.38 1075.54 219.12 1288.98 219.12 1502.41 219.12 1607.7 149.35 1715.84 149.12' stroke='rgba(23%2c 191%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M26.45 660.21C190.65 621.53 243.88 190.8 502.84 182.34 761.81 173.88 741.04 252.34 979.24 252.34 1217.43 252.34 1335.25 182.53 1455.63 182.34' stroke='rgba(23%2c 191%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.platform__features__section .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 20px;
}

.platform__features__section .wrapper .card {
  width: min(300px, 100%);
  height: 100%;
  padding: 20px 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.platform__features__section .single__feature h2 i {
  font-size: 2.5rem;
  /* color: #fff; */
}

.platform__features__section .single__feature h6 {
  font-weight: 600;
  /* color: #fff; */
}
