.social__content__container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.social__content__wrapper {
  position: relative;
  height: 100vh; 
  background-size: 100% 30%;
  background-position: center;
  color: white;
  position: relative;
}


.background__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.social__media {
  position: relative;
  z-index: 1;
}

.section__header {
  margin-bottom: 20px;
}


.item1 {
  grid-column: span 2;
}
.grid-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.grid-item {
  text-align: center;
  flex: 1;
}

.grid-item img {
  max-width: 100px; /* Adjust the maximum width of the icons */
  height: auto;
}

.join-button {
  padding: 10px 20px;
  font-size: 16px;
}

/* Adjustments for responsive design */
@media (max-width: 768px) {
  .grid-container {
    flex-direction: column;
  }
}

.counter {
  color: white;
  font-weight: bold;
}

.counter-white {
  color: white;
}

.join-button {
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.social-icon {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
}

.section__header {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.section__header h1,
.section__header p {
  margin: 5px 0;
}

.join-button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  padding: 10px 20px;
}
