.contact__container {
  font-family: "Poppins", sans-serif;
}

.contact__container .wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  background-color: #fff;
  padding: 3rem 4rem;
  border-radius: 16px;
  box-shadow: rgba(51, 51, 51, 0.1) 0px 4px 32px;
  margin: 2rem auto;
  position: relative;
}

.contact__container .wrapper ::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
  background-color: rgb(242, 242, 242);
  border-radius: 16px;
  bottom: -5px;
  width: 98%;
  z-index: -1;
}

.contact__container .wrapper .title {
  flex-grow: 1;
  margin: 0px;
  overflow: hidden;
  font-size: 28px;
  font-weight: 600;
  text-transform: none;
  text-align: center;
  letter-spacing: -0.1px;
  line-height: 31px;
  white-space: pre-line;
  opacity: 1;
  visibility: visible;
  font-family: Inter;
}

.content__wrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.contact__container .contact__details {
  width: 100%;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid rgb(217, 217, 217); */
  border-radius: 2px;
}

.contact__container .contact__details .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 2rem auto;
}

.contact__form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical__line {
  width: 2px;
  height: 95%;
  align-self: stretch;
  background-color: rgb(217, 217, 217);
}
.contact__form {
  /* color: #fff; */
  width: 100%;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact__form .form__item {
  width: 100%;
}
.contact__container button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  cursor: inherit;
  height: 44px;
  opacity: 1;
  background-color: rgb(49, 100, 244) !important;
  border-radius: 8px !important;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
  border: 0px;
}

.contact__container button span {
  padding: 0px;
  outline: transparent solid 0px;
  white-space: nowrap;
  border: 0px;
  border-radius: 5px !important;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: none;
  text-align: center;
}

.contact__container button:hover {
  color: #fff !important;
  border: 2px solid #fff !important;
  background-color: #17bf9e !important;
  transition: all 0.3s ease;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

@media all and (max-width: 767px) {
  .contact__container .wrapper {
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 3rem 1rem;
  }
  .content__wrapper {
    flex-direction: column;
    grid: 1rem;
  }
  .contact__container .contact__details {
    border: none;
  }
  .contact__container .contact__details .content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .contact__container .contact__details .content > div {
    width: 130px;
  }
  .contact__container .contact__form__container {
    width: 100%;
  }
  .contact__container .contact__form__container .contact__form {
    width: 100%;
  }

  .contact__container .contact__form__container .contact__form > div {
    width: 100%;
  }
}
