.header {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main-link {
  text-decoration: none;
  color: unset;
}

.nav,
.nav__menu,
.header__container,
.navigation {
  height: 100%;
}

.nav {
  line-height: unset;
}

.nav__list {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 1.3rem;
}

.nav__item,
.nav__item a {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__item a {
  font-weight: 400;
  font-size: 1rem;
  color: #0a2b1e;
  padding: 0 10px;
  text-decoration: none;
  /* transition: 0.3s; */
  position: relative;
}

.nav__item a.active:not(.login, .logout) {
  font-weight: 500;
  color: #17bf9e;
  /* background-color: #17bf9d29; */
}

.nav__item a.active:not(.login, .logout)::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #17bf9e;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav__item a:hover {
  color: #17bf9e;
}

.nav__right p {
  font-weight: 500;
  color: #0a2b1e;
  font-size: 1.1rem;
}

.nav__right p i {
  font-size: 1.3rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile__menu span i {
  font-size: 1.4rem;
  color: #0a2b1e;
  cursor: pointer;
}

.mobile__menu {
  display: none;
}

.login__button {
  width: 100px;
  height: 60%;
  /* padding: 10px; */
  display: flex;
  align-items: center;
}

.login__button a {
  width: 100%;
}

.login__button button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17bf9e !important;
  color: #ffffff !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.cart__icon i {
  font-size: 1.7rem;
  font-weight: 500;
}

.cart__icon__wrapper {
  position: relative;
}

.cart__value {
  width: 18px;
  height: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  background-color: #17bf9e;
  /* font-family: sans-serif; */
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: -6px;
  z-index: 3;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

@media only screen and (max-width: 991px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2b1ec2;
    z-index: 99;
    display: none;
  }

  .nav__list {
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    padding: 80px 20px 0 20px;
  }

  .nav__list > .nav__item:not(:last-child) {
    border-bottom: 1px solid #d0d0d0;
  }

  .nav__item {
    height: auto;
    width: 100%;
  }

  .mobile__menu {
    display: block;
  }
  .nav__right {
    display: none;
  }

  .active__menu {
    display: block;
  }
}
