.features__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem 0;
  padding: 3rem 0.5rem;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(23%2c 191%2c 158%2c 0.7411764705882353)'%3e%3c/rect%3e%3cpath d='M1440 0L1349.93 0L1440 152.45z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1349.93 0L1440 152.45L1440 238.13L1039.71 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1039.71 0L1440 238.13L1440 286.64L741.1500000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M741.15 0L1440 286.64L1440 372.45L704.87 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L135.47 560L0 280.94z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 280.94L135.47 560L603.77 560L0 165.29z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 165.28999999999996L603.77 560L761.8399999999999 560L0 126.38999999999996z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 126.38999999999999L761.8399999999999 560L909.43 560L0 75.32z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
}

.features__section .wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}

.features__section .single__feature {
  width: max(160px, 200px);
  min-height: 280px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: rgba(51, 51, 51, 0.1) 0px 4px 32px;
  border: 0px;
}

.features__section .single__feature div img {
  aspect-ratio: 16/9;
}

.features__section .single__feature div i {
  font-size: 6rem;
  color: rgb(49, 100, 244);
}

.features__section .single__feature h6 {
  padding: 1rem;
  font-weight: 600;
  color: #7f7f7f;
}

@media all and (max-width: 767px) {
  .features__section .wrapper {
    width: 100%;
  }
  .features__section .single__feature {
    width: 150px;
    min-height: 250px;
  }

  .features__section .single__feature h6 {
    padding: 0.2rem;
  }
}
