.footer {
  width: 100%;
  /* background-color: rgba(226, 248, 248, 0.664); */
  padding-top: 50px;
  margin: 0 auto;
  background-color: rgb(237, 237, 237);
}

.footer h6 {
  font-size: 24px;
}

.follows span a {
  text-decoration: none;
}

.follows span {
  margin-right: 15px;
}

.link__list .link__item {
  background: transparent;
  font-size: 14px;
}

.link__list a {
  text-decoration: none;
  color: #0a2b1e;
  font-weight: 500;
}
