.testimonial__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.testimonial__content {
  margin-left: 40px;
}
.testimonial__content h2 {
  font-weight: 600;
}

.testimonial__container {
  width: 80%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  overflow: hidden;
}

.testimonial__container .left__col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonial__container .video__wrapper {
  aspect-ratio: 16/9;
  border-radius: 16px;
  overflow: hidden;
  background-color: #e5e5e5;
}

.testimonial__container .desc {
  padding: 0px;
  outline: transparent solid 0px;
  white-space: pre-wrap;
  border: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400 !important;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 26px;
  text-align: center;
  color: rgb(3, 3, 3);
}

.testimonial__review__wrapper {
  display: flex;
  gap: 10px;
}

.testimonial__review__wrapper .left__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  -webkit-animation: scrollUp 50s linear infinite normal;
  animation: scrollUp 50s linear infinite normal;
  position: relative;
}

/* .testimonial__review__wrapper .left__col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #ffffff;
} */

.testimonial__review__wrapper .right__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  -webkit-animation: scrollDown 50s linear infinite normal;
  animation: scrollDown 50s linear infinite normal;
}

.testimonial__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* flex-shrink: 1; */
  /* flex-grow: 1; */
  align-self: stretch;
  gap: 1rem;
  width: 262px;
  /* height: 267px; */
  opacity: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
  border: 0px;
  padding: 1rem;
}

.testimonial__card .testimonial__review {
  padding: 0px;
  outline: transparent solid 0px;
  white-space: pre-wrap;
  border: 0px;
  font-family: Inter;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 18px;
  text-align: justify;
}

.testimonial__author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.testimonial__author .author__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(155, 155, 155, 0.844);
}

.testimonial__author .author__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 5px; */
}

.testimonial__card .ratings {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.testimonial__card .ratings i.fa-star {
  color: #f4c031 !important;
}

.testimonial__author .author__info .author__name {
  padding: 0px;
  outline: transparent solid 0px;
  white-space: pre-wrap;
  min-height: 17px;
  border: 0px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 16px;
  text-align: left;
}
.testimonial__author .author__info .role {
  height: 17px;
  flex-grow: 1;
  margin: 0px;
  overflow: hidden;
  font-size: 12px;
  font-weight: 600;
  text-transform: none;
  text-align: left;
  letter-spacing: 0px;
  line-height: 16px;
  white-space: pre-line;
  opacity: 1;
  visibility: visible;
  font-family: Poppins;
  font-weight: 400;
}

@-webkit-keyframes scrollUp {
  0% {
    -webkit-transform: translateY(29%);
    transform: translateY(29%);
  }
  98% {
    -webkit-transform: translateY(calc(-150px * 4));
    transform: translateY(calc(-150px * 4));
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes scrollUp {
  0% {
    -webkit-transform: translateY(29%);
    transform: translateY(29%);
  }
  98% {
    -webkit-transform: translateY(calc(-150px * 4));
    transform: translateY(calc(-150px * 4));
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translateY(-33%);
    transform: translateY(-33%);
  }
  98% {
    -webkit-transform: translateY(calc(150px * 4));
    transform: translateY(calc(150px * 4));
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translateY(-33%);
    transform: translateY(-33%);
  }
  98% {
    -webkit-transform: translateY(calc(150px * 4));
    transform: translateY(calc(150px * 4));
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  98% {
    -webkit-transform: translateX(calc(-240px * 5));
    transform: translateX(calc(-240px * 5));
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  98% {
    -webkit-transform: translateX(calc(-240px * 5));
    transform: translateX(calc(-240px * 5));
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  98% {
    -webkit-transform: translateX(calc(240px * 5));
    transform: translateX(calc(240px * 5));
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  98% {
    -webkit-transform: translateX(calc(240px * 5));
    transform: translateX(calc(240px * 5));
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@media all and (max-width: 767px) {
  .testimonial__content {
    margin-left: 0;
  }
  .testimonial__wrapper {
    height: 100%;
    padding-bottom: 0;
  }
  .testimonial__container {
    width: 90%;
    height: 100%;
    flex-direction: column;
    gap: 0rem;
  }
  .testimonial__review__wrapper {
    width: 100%;
    flex-direction: column;
  }

  .testimonial__review__wrapper .testimonial__card {
    flex-shrink: 0;
  }

  .testimonial__review__wrapper .left__col,
  .testimonial__review__wrapper .right__col {
    flex-direction: row;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .testimonial__review__wrapper .right__col {
    justify-content: flex-end;
    align-items: flex-end;
  }

  /* .testimonial__review__wrapper .left__col {
    padding-top: 10px;
  }
  .testimonial__review__wrapper .right__col {
    padding-bottom: 10px; */
  /* } */

  .testimonial__review__wrapper .left__col {
    -webkit-animation: slideLeft 50s linear infinite normal;
    animation: slideLeft 50s linear infinite normal;
  }
  .testimonial__review__wrapper .right__col {
    -webkit-animation: slideRight 50s linear infinite normal;
    animation: slideRight 50s linear infinite normal;
  }
}
