.terms__container {
  width: min(800px, 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  margin: 2.5rem auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 3rem 3rem;
}

.terms__container h6 {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 2px;

  line-height: 1.5;
}

.terms__container .sub__points {
  width: 90%;
  margin: 0 auto;
}
