.hero__section {
  width: 80%;
  margin: 0 auto;
  min-height: 70vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero__content .hero__title {
  overflow: hidden;
  min-height: 200px;
  font-size: 4.5rem;
  font-weight: 600;
  text-transform: none;
  text-align: left;
  letter-spacing: 0px;
  line-height: 5rem;
  white-space: pre-line;
  opacity: 1;
  visibility: visible;
  font-family: Poppins;
  color: rgb(0, 0, 0);
  transition: min-height 0.3s ease-in;
}

.hero__content .sub_title {
  padding: 0px;
  outline: transparent solid 0px;
  white-space: pre-wrap;
  min-height: 52px;
  border: 0px;
  font-family: Inter;
  font-size: 20px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 26px;
  text-align: left;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

p {
  color: rgb(0, 0, 0);
}

/* .hero__content .title::after {
  content: "";
  width: 100%;
  height: 15px;
  background: url("../../assests/shape/text-shape1.png");
  background-repeat: no-repeat;
  background-size: ;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-radius: 3px;
} */

.hero__title__desc {
  /* font-family: "Nunito Sans", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
}

.growth__icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url("../../assests/images/growth.svg");
}

.hero__btn {
  /* width: 230px; */
  font-weight: 600 !important;
  padding: 10px !important;
  color: #030303 !important;
  border: 2px solid #030303 !important;
  background-color: transparent !important;
  transition: all 0.3s ease !important;
  border-radius: 10px !important;
}

.hero__btn:hover {
  /* color: #17bf9e !important;
  background-color: #fff !important; */
}

.hero__content {
  padding-top: 2rem;
}
.hero__section .wrapper {
  align-items: center;
}
.hero__section .video__wrapper {
  aspect-ratio: 16/9;
  border-radius: 16px;
  overflow: hidden;
  background-color: #e5e5e5;
}

.hero__section button.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  cursor: inherit;
  /* width: 208px; */
  height: 64.2855px;
  opacity: 1;
  padding: 1rem !important;
  background-color: rgb(49, 100, 244) !important;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px !important;
  border: 0px !important;
  margin: auto;
}

.hero__section button.hero__btn span {
  padding: 0px;
  outline: transparent solid 0px;
  /* text-transform: uppercase !important; */
  text-transform: capitalize !important;
  white-space: nowrap;
  min-height: 64.2855px;
  border: 0px;
  color: rgb(255, 255, 255) !important;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 64.2855px;
  text-align: center;
  height: auto;
}

.hero__section button.hero__btn:hover {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(49, 100, 244) !important;
}

.hero__section button.hero__btn span:hover {
  color: rgb(49, 100, 244) !important;
}
.hero__title {
  color: blue;
}

.hero__section .text__container {
  width: 100%;
  word-break: break;
  /* height: 50px; */
}

.content,
.text__content,
.sub_title {
  display: block;
  position: sticky;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: rgb(0, 0, 0);
  text-align: left;
  overflow: hidden;
  /* min-height: 200px; */
  font-size: 4.5rem;
  font-weight: 600;
  text-transform: none;
  text-align: left;
  letter-spacing: 0px;
  line-height: 5rem;
  white-space: pre-line;
  opacity: 1;
  visibility: visible;
  font-family: Poppins;
  color: rgb(0, 0, 0);
  transition: min-height 0.3s ease-in;
}

.sub_title .content {
  font-size: 20px;
  line-height: 10px;
  font-weight: 400;
}

.sub_title .text__content .content__container {
  height: 20px;
}

.sub_title .content__container {
  height: 30px;
}

.sub_title .content__container__list__item {
  line-height: 40px;
}

.hero__content .container {
  padding: 0;
}

.text__content .content__container {
  height: 90px;
}

.content__container {
  width: 100%;
  font-weight: 600;
  overflow: hidden;
  height: 100px;
  padding: 0;
  color: rgb(0, 0, 0);
}

.content__container:after,
.content__container:before {
  position: absolute;
  top: -2px;
  color: rgb(0, 0, 0);
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  width: 100%;
  margin-top: 0;
  text-align: left;
  padding: 0;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  width: 100%;
  line-height: 100px;
  margin: 0;
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {
  0% {
    transform: translate3d(0, 0, 0);
  }

  29.32% {
    transform: translate3d(0, -50%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  50% {
    transform: translate3d(0, -50%, 0);
  }

  /* 49.98%,
  62.64% {
    transform: translate3d(0, -25%, 0);
  } */

  66.64%,
  79.3% {
    transform: translate3d(0, -3%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -3%, 0);
  }
  100% {
    transform: translate3d(0, -3%, 0);
  }
}

@media all and (max-width: 767px) {
  .hero__section {
    width: 90%;
    margin-top: 5rem;
  }
  .hero__content .hero__title {
    overflow: hidden;
    font-size: 3rem;
    line-height: 4rem;
  }
  .hero__section .wrapper {
    gap: 3rem;
  }

  .content,
  .text__content {
    font-size: 3rem;
    line-height: 4rem;
  }
  .content__container {
    height: 70px;
  }

  .text__content .content__container {
    height: 60px;
  }

  @keyframes change {
    0% {
      transform: translate3d(0, 0, 0);
    }

    29.32% {
      transform: translate3d(0, -55%, 0);
    }

    33.32%,
    45.98% {
      transform: translate3d(0, -55%, 0);
    }

    50% {
      transform: translate3d(0, -55%, 0);
    }

    /* 49.98%,
    62.64% {
      transform: translate3d(0, -25%, 0);
    } */

    66.64%,
    79.3% {
      transform: translate3d(0, -6%, 0);
    }

    56.8%,
    95.96% {
      transform: translate3d(0, -6%, 0);
    }
    100% {
      transform: translate3d(0, -6%, 0);
    }
  }
}
