.hero__content .hero__title {
  font: 100% system-ui, sans-serif;
  margin: 0 0 1rem 0;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 5rem;
  text-transform: uppercase;
  color: #3b365e;
}

.hero__content .title {
  width: min(380px, 100%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 3rem;
  position: relative;
}

.hero__content .title::after {
  content: "";
  width: 100%;
  height: 15px;
  background: url("../../assests/shape/text-shape1.png");
  background-repeat: no-repeat;
  background-size: ;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-radius: 3px;
}

.hero__title__desc {
  /* font-family: "Nunito Sans", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
}

.growth__icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url("../../assests/images/growth.svg");
}

.hero__btn {
  width: 200px;
  font-weight: 500 !important;
  padding: 10px !important;
  color: #fff !important;
  border: 2px solid #17bf9e !important;
  background-color: #17bf9e !important;
  transition: all 0.3s ease !important;
}

.hero__btn:hover {
  color: #17bf9e !important;
  background-color: #fff !important;
}

.hero__content {
  padding-top: 2rem;
}
