.hero__section {
  width: 80%;
  margin: 0 auto;
  min-height: 70vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0;
}

.hero__content .hero__title {
  overflow: hidden;
  font-size: 4.5rem;
  font-weight: 600;
  text-transform: none;
  text-align: left;
  letter-spacing: 0px;
  line-height: 5rem;
  white-space: pre-line;
  opacity: 1;
  visibility: visible;
  font-family: Poppins;
  color: rgb(0, 0, 0);
}

.hero__content .title {
  padding: 0px;
  outline: transparent solid 0px;
  white-space: pre-wrap;
  min-height: 52px;
  border: 0px;
  font-family: Inter;
  font-size: 20px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 26px;
  text-align: left;
  color: rgb(0, 0, 0);
}

/* .hero__content .title::after {
  content: "";
  width: 100%;
  height: 15px;
  background: url("../../assests/shape/text-shape1.png");
  background-repeat: no-repeat;
  background-size: ;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-radius: 3px;
} */

.hero__title__desc {
  /* font-family: "Nunito Sans", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
}

.growth__icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url("../../assests/images/growth.svg");
}

.hero__btn {
  /* width: 230px; */
  font-weight: 600 !important;
  padding: 10px !important;
  color: #030303 !important;
  border: 2px solid #030303 !important;
  background-color: transparent !important;
  transition: all 0.3s ease !important;
  border-radius: 10px !important;
}

.hero__btn:hover {
  color: #17bf9e !important;
  background-color: #fff !important;
}

.hero__content {
  padding-top: 2rem;
}
.hero__section .wrapper {
  align-items: center;
}
.hero__section .video__wrapper {
  aspect-ratio: 16/9;
  border-radius: 16px;
  overflow: hidden;
  background-color: #e5e5e5;
}

.hero__section button.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  cursor: inherit;
  /* width: 208px; */
  height: 64.2855px;
  opacity: 1;
  padding: 1rem !important;
  background-color: rgb(49, 100, 244) !important;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px !important;
  border: 0px !important;
  margin: auto;
}

.hero__section button.hero__btn span {
  padding: 0px;
  outline: transparent solid 0px;
  /* text-transform: uppercase !important; */
  text-transform: capitalize !important;
  white-space: nowrap;
  min-height: 64.2855px;
  border: 0px;
  color: rgb(255, 255, 255) !important;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 64.2855px;
  text-align: center;
  height: auto;
}

.hero__section button.hero__btn:hover {
  background-color: rgb(255, 255, 255) !important;
  border: rgb(49, 100, 244) !important;

}

.hero__section button.hero__btn span:hover {
  color:rgb(49, 100, 244) !important; ;

}
.hero__title {
  color: blue;
}


@media all and (max-width: 767px) {
  .hero__section {
    width: 90%;
  }
  .hero__section .wrapper {
    gap: 3rem;
  }
}
